.container {
    display: grid;
    /* option 1. grid-template-columns: 100px auto 100px; */
    /* option 2. grid-template-columns: 1fr 1fr 1fr; */
    /* grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2,50px); */
    /* option 1. grid-template-rows: 50px 50px; */
    grid-template:repeat(2,50px) / repeat(3, 1fr);
    grid-gap: 3px;
}


.container > div {
display: flex;
justify-content: center;
align-items: center;
font-size:  2em;
color: rgb(246, 246, 246);

}

html, body {
    background-color: antiquewhite;
    margin: 10px;
    
}


.one {
    background-color: red;
}

.two {
    background-color: rgb(224, 221, 221);
}

.three {
    background-color:rgb(224, 221, 221);

}

.four {
    background-attachment: rgb(224, 221, 221);
}

